{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/dj_app/css/main.css">
    <title>dj_app</title>
</head>

<body>
    <header>
        <div class="container">
            <div class="raw align-item-center">
                <div class="col-6">
                    <a class="type-button" href="https://www.rouserlab.com">...</a>
                </div>
                <div class="col-6 d-flex justify-content-end">
                    <a class="type-button">menu</a>
                </div>
            </div>
        </div>
    </header>
    <div class="container menu-container">
        <ul class="raw">
            <li class=""><a>page</a></li>
            <li class=""><a>page</a></li>
            <li class=""><a>page</a></li>
            <li class=""><a>page</a></li>
        </ul>
        <!-- </div>  -->
    </div>
    <div class="content-container cont-text ">
        <div class="cb-l">
            <p> The purpose of creating the page:
            <ul>
                <li>
                    Practice working with Django.
                </li>
                <li>
                    Add and connect styles
                </li>
                <li>
                    Create a cover page for multiple applications
                </li>
            </ul>
            <p>
                Aliquam euismod velit ac ex maximus, non tincidunt orci dictum. Aliquam magna enim, ullamcorper sit amet
            </p>
            <h1>another point of view</h1>
            <img src="static/dj_app/media/img1.svg" alt="image1">
            <p>in, laoreet suscipit orci. <span style="text-transform: uppercase; font-style: bolt;">the top is a creative slogan</span> Proin eget convallis lacus, nec sodales ligula. Cras ullamcorper
                egestas sollicitudin. Praesent libero arcu, aliquam vitae ex at, tincidunt mattis velit. Praesent
                mauris rhoncus cursus. <span style="text-transform: uppercase;">the text was not created by a marketing specialist</span> Etiam posuere, justo non porttitor consequat, nisi odio.
            </p>
        </div>
        <div class="cb-r">
            <div>
                <h3>new functionality</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fringilla lacus ex, ut malesuada
                    neque
                    finibus ut. Proin elementum tristique neque. In posuere lacus ut odio lacinia, at pulvinar purus
                    rutrum.
                    Donec in cursus lacus, sed tincidunt leo. Fusce sit amet quam scelerisque, consequat justo
                    ullamcorper,
                    vulputate lorem. Aliquam auctor in orci at congue. Integer interdum dapibus lorem a tincidunt. Cras
                    auctor lectus in neque pulvinar, a tincidunt ipsum mattis. Nulla at convallis libero, in tincidunt
                    nisl.
                    Aliquam euismod velit ac ex maximus, non tincidunt orci dictum. Aliquam magna enim, ullamcorper sit
                    amet
                </p>
            </div>
            <div class="cb-rb">
                <p>Footer</p>
                <p>iN</p>
                <p>development</p>
            </div>
        </div>
    </div>
    <footer class="container"> 
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        Footer will be soon...
        <span class="dot d2"></span>
        <span class="dot d2"></span>
        <span class="dot d2"></span>
        <span class="dot d2"></span>
        <span class="dot d2"></span>
        <span class="dot d2"></span>
        <span class="dot d2"></span>
        <span class="dot d2"></span>
        <span class="dot d2"></span>
        <span class="dot d2"></span>
        no
        <span class="dot"></span>
        <span class="dot d2"></span>
        <span class="dot d2"></span>
        <span class="dot d2"></span>
    </footer>
</body>

</html>